name: E2E tests

on:
  push:
    branches: [master, next]
  pull_request:
  workflow_dispatch:

jobs:
  checkout-and-test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm run build
      - name: Run cypress tests
        uses: cypress-io/github-action@v5
        with:
          command: npm run test:ci
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
