name: E2E tests

on:
  push:
    branches: [ main, master, next ]
  pull_request:
  workflow_dispatch:

jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Bundle library
        run: npm run build

      - name: Upload dist folder
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: dist-folder
          path: dist
          retention-days: 1

  test:
    name: Run playwright tests (${{ matrix.shard }})
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.38.0
    timeout-minutes: 20
    needs: install
    strategy:
      fail-fast: false
      matrix:
        shard: [1/4, 2/4, 3/4, 4/4]
        # project: [chromium, firefox, webkit]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Get playwright version
        id: playwright-version
        run: echo "version=$(cat ./package-lock.json | jq -re '.packages["node_modules/@playwright/test"].version')" >> $GITHUB_OUTPUT

      - name: Download dist folder
        uses: actions/download-artifact@v3
        with:
          name: dist-folder
          path: dist

      - name: Run tests
        run: npx playwright test --config ./tests/config/playwright.config.ts --shard ${{ matrix.shard }} # --workers 1

      - name: Upload blob report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: blob-reports
          path: tests/reports/blobs
          retention-days: 1

  report:
    name: Create report
    if: always()
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: test
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Download blob reports
        uses: actions/download-artifact@v3
        with:
          name: blob-reports
          path: playwright-blob-reports

      - name: Merge blob reports
        run: PLAYWRIGHT_JSON_OUTPUT_NAME=results.json npx playwright merge-reports --reporter html,json ./playwright-blob-reports

      - name: Upload HTML report
        uses: actions/upload-artifact@v3
        with:
          name: html-report # --attempt-${{ github.run_attempt }}
          path: playwright-report
          retention-days: 14

      - name: Create report comment
        id: report-summary
        uses: daun/playwright-report-summary@v2.1.0
        with:
          report-file: results.json
          report-url: ${{ steps.report-id.outputs.url }}
          job-summary: true
