name: Unit tests

on:
  push:
    branches: [ main, master, next ]
  pull_request:

jobs:
  run-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Bundle library
        run: npm run build

      - name: Run tests
        run: npm run test:unit
